body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  overflow: hidden;

  font-weight: bold;
  text-align: center;

  height: 100vh;
}
body.is-wrong > .timer-holder {
  background-color: #faa;
}
body.is-right > .timer-holder {
  background-color: #afa;
}

.timer-holder {
  box-sizing: border-box;
  display: block;
  height: 4vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1vh;
  text-align: center;
  transition: background-color 300ms ease-in-out;
}
.timer-holder > .timer-line {
  height: 2vh;
  width: 0;
  background-color: steelblue;
  border-radius: 1vh;
  margin: 0 auto;
}

.main {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 4vh;
  bottom: 0;
  justify-content: center;
  align-items: center;
    /*position: relative;*/
    perspective: 3000px;
}


.no-transition {
  transition: none !important;
}
#card {
  margin: 0 auto;
  position: absolute;
  top: 7vh;
  left: 7%;
  right: 7%;
  bottom: 7vh;
  font-size: calc((5vw + 5vh) / 2);
  transform-style: preserve-3d;
  transition: transform 400ms ease-in-out;
}

#card figure {
  display: table;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  visibility:visible;
  padding: 0 calc((18vw + 18vh) / 2);
  box-sizing: border-box;
}

#card figure::before {
  display: table-cell;
  position: absolute;
  height: 100%;
  content: "";
  vertical-align: middle;
}
#card div {
  vertical-align: middle;
  margin: auto;
  display: table-cell;
}
#card .front {
  background: #ddf;
}
#card .back {
  background: #dfd;
  transform: rotateY( 180deg );
}

#card.flipped {
  transform: rotateY( 180deg );
}

.card-right {
  transform: translateX(100vw);
}
.card-left, .is-offpage {
  transform: translateX(-100vw);
}


.hoverbutton {
  z-index: 10;
  position: absolute;
  top: calc(50% - (((15vw + 15vh) / 2) / 2));
  height: calc((15vw + 15vh) / 2);
  width: calc((15vw + 15vh) / 2);
  border-radius: 50%;
  background-color: #aaa;
  transition: all 350ms ease-in-out;
  opacity: 0;
  text-decoration: none;
}
.hoverbutton.show {
  transform: translateX(0) scale(1);
  opacity: 1;
}

.wrong-button {
  transform: translateX(calc((15vw + 15vh) / -2)) scale(0.2);
  left: calc(10vw - ((15vw + 15vh) / 2) / 2);
  background: url("../images/cross-mark.png");
  background-size: contain;
  color: #fee;
}
.right-button {
  right: calc(10vw - ((15vw + 15vh) / 2) / 2);
  transform: translateX(calc((15vw + 15vh) / 2)) scale(0.2);
  background: url("../images/check-mark.png");
  background-size: contain;
  color: #efe;
}
